# Question 1

In [57]:
import pandas as pd
import numpy as np

"""
Question 1

Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only the 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).
The index of this DataFrame should be the name of the country, and the columns should be
['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', 2012', '2013', '2014', '2015']
Function "answer_one" should return the resulted DataFrame (20 columns and 15 entries)
"""


def _query_energy():
    energy = pd.read_excel('Energy.xlsx', header=None,
                           names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'],
                           usecols='C:F', skiprows=18, nrows=228, engine='openpyxl')

    energy = energy.replace(['...'], np.nan)
    energy['Energy Supply'] *= 1000000

    source_countries_names = ['Republic of Korea', 'United States of America20',
                              'United Kingdom of Great Britain and Northern Ireland',
                              'China, Hong Kong Special Administrative Region',
                              'Bolivia (Plurinational State of)', 'Switzerland17']
    final_countries_names = ['South Korea', 'United States', 'United Kingdom',
                             'Hong Kong', 'Bolivia', 'Switzerland']
    energy['Country'] = energy['Country'].replace(source_countries_names, final_countries_names)

    return energy

def _query_gdp():
    gdp = pd.read_csv('world_bank.csv', sep=',', header=0,
                      dtype=None, skiprows=4, encoding='utf-8')

    scn_gdp = ['Korea, Rep.', 'Iran, Islamic Rep.', 'Hong Kong SAR, China']  # source country names
    fcn_gdp = ['South Korea', 'Iran', 'Hong Kong']  # final country names
    gdp['Country'] = gdp['Country'].replace(scn_gdp, fcn_gdp)

    return gdp

def _query_scimen():
    scim_en = pd.read_excel('scimEn.xlsx', header=0,
                            engine='openpyxl')
    return scim_en


def answer_one():
    energy = _query_energy()
    gdp = _query_gdp()
    scim_en = _query_scimen()

    energy.set_index('Country', inplace=True)
    gdp.set_index('Country', inplace=True)
    scim_en.set_index('Country', inplace=True)

    temp_df = pd.merge(scim_en, energy, on='Country', how='left')
    final_df = pd.merge(temp_df, gdp, on='Country', how='left')

    final_df.drop(final_df.tail(196).index, inplace=True)
    final_df.drop(final_df.iloc[:, 1:2], axis=1, inplace=True)
    final_df.drop(final_df.iloc[:, 10:58], axis=1, inplace=True)
    final_df.drop(final_df.iloc[:, 21:28], axis=1, inplace=True)

    return final_df


if __name__ == "__main__":
    qa1 = answer_one()
    # qa1.to_excel('answer1.xlsx')

In [58]:
qa1

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,,
China,1,303064,301778,3036531,2092737,10.02,273,NaN,NaN,NaN,...,2.752132e+12,3.550343e+12,4.594307e+12,5.101703e+12,6.087164e+12,7.551500e+12,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13
United States,2,184851,181106,2623922,819242,14.19,389,9.083800e+10,286.0,11.570980,...,1.381559e+13,1.447423e+13,1.476986e+13,1.447806e+13,1.504896e+13,1.559973e+13,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13
India,3,60257,58589,590570,213760,9.80,198,3.319500e+10,26.0,14.969080,...,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
Japan,4,52780,52281,557023,132113,10.55,203,NaN,NaN,NaN,...,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
United Kingdom,5,47141,45928,748994,132737,15.89,244,NaN,NaN,NaN,...,2.717060e+12,3.106182e+12,2.938882e+12,2.425798e+12,2.491110e+12,2.674891e+12,2.719158e+12,2.803291e+12,3.087166e+12,2.956574e+12
Germany,6,42343,41464,528645,115432,12.48,211,1.326100e+10,165.0,17.901530,...,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
Russian Federation,7,39424,39189,142937,67935,3.63,96,3.070900e+10,214.0,17.288680,...,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.045926e+12,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12
Canada,8,35588,34940,665415,113363,18.70,246,1.043100e+10,296.0,61.945430,...,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
Italy,9,31260,29959,433388,105641,13.86,177,NaN,NaN,NaN,...,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
South Korea,10,31200,30949,405923,74753,13.01,169,1.100700e+10,221.0,2.279353,...,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
France,11,26848,26320,403834,73792,15.04,190,NaN,NaN,NaN,...,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Iran,12,25481,25204,398571,122647,15.64,159,NaN,NaN,NaN,...,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
Spain,13,24969,24505,427391,77583,17.12,187,NaN,NaN,NaN,...,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324744e+12,1.355143e+12,1.371223e+12,1.195600e+12
Brazil,14,23110,22762,219895,53635,9.52,139,1.214900e+10,59.0,69.648030,...,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12
Australia,15,22803,22276,396186,62694,17.37,192,NaN,NaN,NaN,...,7.475562e+11,8.539554e+11,1.055127e+12,9.280430e+11,1.147589e+12,1.397908e+12,1.546509e+12,1.576335e+12,1.467505e+12,1.350534e+12

# Question 2

In [37]:
"""
Question 2
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

This function should return a Series named avgGDP with 15 countries and their average GDP sorted in descending order.
"""


def answer_two():
    top15 = answer_one()
    # print(top15.to_string(), '\n')

    columns = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    avgGDP = top15[columns].mean(axis=1)

    # print(avgGDP.to_string(), '\n')
    return avgGDP


if __name__ == "__main__":
    a2 = answer_two()
    print(a2)
    # a2.to_excel("answer2.xlsx")

Country
China                 6.927702e+12
United States         1.570403e+13
India                 1.602352e+12
Japan                 5.239642e+12
United Kingdom        2.792011e+12
Germany               3.523342e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
Italy                 2.142986e+12
South Korea           1.221372e+12
France                2.691337e+12
Iran                  4.563261e+11
Spain                 1.400727e+12
Brazil                1.988889e+12
Australia             1.207106e+12
dtype: float64

# Question 3

In [42]:
"""
Question 3
By how much had the GDP changed over the 10-year span for the country with the 6th largest average GDP?

This function should return a single number.
"""


def answer_three():
    qa1 = answer_one()
    avg_gdp = answer_two()  # Series of avg_gdp
    
    sixth_gdp_country = avg_gdp.sort_values(ascending=False).index[5]  # name of sixth country
    print(sixth_gdp_country, qa1.loc[sixth_gdp_country]['2015'], qa1.loc[sixth_gdp_country]['2006'])
    balance = qa1.loc[sixth_gdp_country]['2015'] - qa1.loc[sixth_gdp_country]['2006']

    return balance


if __name__ == "__main__":
    print(answer_three())

France 2439188643162.5 2320536221304.7
118652421857.7998

In [43]:
answer_three()

France 2439188643162.5 2320536221304.7

118652421857.7998

# Question 4

In [22]:
"""
Create a new column that is the ratio of Self-Citations to Total Citations.
What is the maximum value for this new column, and what country has the highest ratio?

This function should return a tuple with the name of the country and the ratio.
"""


def answer_four():
    question1 = Question1()
    top15 = question1.answer_one()

    country = ''
    max_ratio = 0
    n = len(top15.iloc[:, 1])
    for i in range(n):
        ratio = top15.iloc[i, 4] / top15.iloc[i, 3]
        if ratio > max_ratio:
            country = top15.index[i]
            max_ratio = ratio

    return tuple((country, max_ratio),)


if __name__ == "__main__":
    print(answer_four())

('China', 0.689186772669207)

# Question 5

In [59]:
"""
Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

This function should return a single string value.
"""


def answer_five():
    top15 = answer_one()

    population_list = top15['Energy Supply'] / top15['Energy Supply per Capita']
    # print(population_list.sort_values(ascending=False), '\n')
    population_list = population_list.sort_values(ascending=False).index[1]

    return population_list


if __name__ == "__main__":
    print(answer_five())

United States

# Question 6

In [61]:
"""
Create a column that estimates the number of citable documents per person.
What is the correlation between the number of citable documents per capita
and the energy supply per capita?
Use the .corr() method, (Pearson's correlation).

This function should return a single number.
"""


def answer_six():
    top15 = answer_one()
    
    population_list = top15['Energy Supply'] / top15['Energy Supply per Capita']
    citable_doc_per_capita = top15['Citable documents'] / population_list
    citable_doc_per_capita = citable_doc_per_capita.corr(top15['Energy Supply per Capita'])
    
    return citable_doc_per_capita


if __name__ == "__main__":
    print(answer_six())

0.8623303885077129

# Question 7

In [63]:
"""
Use the following dictionary to group the Countries by Continent, 
then create a dateframe that displays the sample size 
(the number of countries in each continent bin), 
and the sum, mean, and std deviation for the estimated population of each country.
"""


def answer_seven(ContinentDict):
    df = answer_one()
    population_estimate = df['Energy Supply'] / df['Energy Supply per Capita']
    
    grouped = population_estimate.groupby(ContinentDict).agg(['size', 'sum', 'mean', 'std'])
    return grouped


if __name__ == "__main__":
    ContinentDict = {'China': 'Asia',
                     'United States': 'North America',
                     'Japan': 'Asia',
                     'United Kingdom': 'Europe',
                     'Russian Federation': 'Europe',
                     'Canada': 'North America',
                     'Germany': 'Europe',
                     'India': 'Asia',
                     'France': 'Europe',
                     'South Korea': 'Asia',
                     'Italy': 'Europe',
                     'Spain': 'Europe',
                     'Iran': 'Asia',
                     'Australia': 'Australia',
                     'Brazil': 'South America'}
    
    answer = answer_seven(ContinentDict)
    answer.to_excel('answer7.xlsx')
    print(answer)

               size           sum          mean           std
Country
Asia              5  1.326536e+09  6.632681e+08  8.675672e+08
Australia         1  0.000000e+00           NaN           NaN
Europe            6  2.238697e+08  1.119348e+08  4.463987e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN